{{!< default}}

<div class="w-full flex items-center relative isolate overflow-hidden bg-gray-900 px-6 min-h-[30vh] md:min-h-[60vh] pt-32 pb-24 lg:px-8" style="font-family: 'Open Sans', sans-serif;">
    <div class="relative mx-auto max-w-3xl text-center z-30">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-5xl" style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.9)">Des voyages en train</h2>
        <p class="mt-6 text-md md:text-lg leading-8 text-white font-medium" style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.9)">
            Je vous propose sur ce site des idées de destinations accessibles en train. Vous y trouverez des conseils pour organiser votre séjour, toutes les informations pour vous déplacer sur place sans voiture, et bien plus encore.
        </p>
    </div>

    <div class="absolute inset-0 after:absolute after:inset-0 after:bg-gradient-to-b after:from-transparent after:via-black/40 after:to-black/70 after:z-20">
        <img src={{asset "images/home/hero.jpeg"}} alt="" class="w-full h-full object-cover object-bottom">
    </div>
</div>


<main class="gh-main gh-outer">
    <div class="gh-inner">
        <section class="flex flex-col md:flex-row gap-12 mt-6 mb-12" style="font-family: 'Open Sans', sans-serif;">
            <div class="md:w-2/5 md:flex content-center">
                <div class="md:max-w-sm mt-6">
                    {{!-- <h3 class="font-bold text-lg">Decouvrir des destinations insoupçonnées</h3> --}}
                    <h3 class="font-bold">Découvrir des destinations insoupçonnées</h3>
                    <hr class="w-32 h-1 my-6 bg-[#e6ce03] border-0 dark:bg-gray-700">
                    <div class="flex flex-col gap-4 text-slate-700 leading-relaxed md:leading-loose font-medium">
                        <p>
                            Un chalet en pleine montagne ? Des randonnées dans des calanques aux
                            senteurs méditérranéennes ? Des petits villages pittoresques ?
                        </p>

                        <p>
                            Pour des week-ends tout près de chez vous, des vacances en France ou en Europe, laissez vous tenter par autant de destinations entièrement
                            accessibles sans voiture.
                        </p>
                    </div>
                </div>
            </div>

            <div class="md:w-3/5 grow-0">
                <div class="flex gap-2 md:gap-6">
                    <div class="flex flex-col gap-2 md:gap-6">
                        <img src={{asset "images/home/agay.jpeg"}} alt="" class="w-full rounded md:rounded-md">
                        <img src={{asset "images/home/rigi-chalet.jpeg"}} alt="" class="w-full rounded md:rounded-md">
                    </div>
                    <div class="flex flex-col gap-2 md:gap-6">
                        <img src={{asset "images/home/semur.jpeg"}} alt="" class="w-full rounded md:rounded-md">
                        <img src={{asset "images/home/lac-bleu.jpeg"}} alt="" class="w-full rounded md:rounded-md">
                    </div>
                </div>
            </div>
        </section>

        {{#if @custom.enter_tag_slugs_for_primary_sections}}
            {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_primary_sections}}]"}}
                {{#foreach tags}}
                    {{> "topic-grid"}}
                {{/foreach}}
            {{/get}}
        {{else}}
            {{#match posts.length ">" 1}}
                {{#get "tags" include="count.posts" order="count.posts desc" limit="3"}}
                    {{#foreach tags}}
                        {{> "topic-grid"}}
                    {{/foreach}}
                {{/get}}
            {{/match}}
        {{/if}}

        <section class="gh-topic gh-topic-grid">
            <h2 class="gh-topic-name">
                {{#match pagination.pages ">" 1}}
                    <a href="{{@site.url}}/page/2">Derniers articles</a>
                {{else}}
                    Derniers articles
                {{/match}}
            </h2>

            <div class="gh-topic-content">
                {{#foreach posts limit="7"}}
                    {{> "loop-grid"}}
                {{/foreach}}
            </div>

            <footer class="gh-topic-footer">
                {{#match pagination.pages ">" 1}}
                    <a class="gh-topic-link" href="{{@site.url}}/page/2">Lire la suite {{> "icons/arrow"}}</a>
                {{/match}}
            </footer>
        </section>

        {{#if @custom.enter_tag_slugs_for_secondary_sections}}
            {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_secondary_sections}}]"}}
                {{#if tags}}
                    <div class="gh-topic-list">
                        {{#foreach tags}}
                            {{> "topic-minimal"}}
                        {{/foreach}}
                    </div>
                {{/if}}
            {{/get}}
        {{else}}
            {{#match posts.length ">" 1}}
                {{#get "tags" include="count.posts" order="count.posts desc"}}
                    {{#if tags.[3]}}
                        <div class="gh-topic-list">
                            {{#foreach tags from="4" limit="3"}}
                                {{> "topic-minimal"}}
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            {{/match}}
        {{/if}}
    </div>
</main>
